.comment__container {
    width: 50%;
    max-width: 700px;
    min-width: 340px;
    border-radius: 15px;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    margin-bottom: 20px;
}

.comment__profil {
    background: #FFD7D7;
    width: 100%;
    height: 60px;
    border-radius: 10px 10px 0px 0px;
    padding-top:0px ;
    display: flex;
    justify-content: flex-start;
    align-items: center;   
}

.comment__profil--button {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 2%;
    height: 100%;
    justify-content: space-around;
}

.comment__profil--button button {
    cursor: pointer;   
}



.comment__intro {
    background: linear-gradient(to right, #FD2D01
    , #FFD7D7);
    width: 100%;
    height: 3px;
}

.comment__base {
    border-radius: 0px 0px 10px 10px;   
}

.comment__profil--avatar {
    height: 75px;
    width: 75px;
    position: relative;
    top: 10px;
    left: 0px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    margin-left: 10px;   
    
}

.comment__profil--name {
    color: #282c34;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10%;
}
.comment__base--img {
    max-height: 250px;
    object-fit: cover;
    width: 100%;  
}

.comment__base--txt {
    padding: 10px;
    margin:10px;
    margin-top: 15px;
    max-height: 250px;
    overflow: auto;
}

.base__likeordislike {
    display: flex;  
    width: 100%; 
    justify-content: right;
    align-items: center; 
    padding-right: 20px;
    margin: 5px;
    cursor: pointer;
}

.base__likeordislike--like {
    display: flex;
    justify-content: space-around;
    width: 50px;
    align-items: center;
}


.base__likeordislike--dislike {
    display: flex;
    justify-content: space-around;
    width: 50px;
    align-items: center;
    
}



.comment__base--end {
    background: linear-gradient(to right, #FD2D01
    , #FFD7D7);
    height: 20px;
    width: 100%;  
    border-radius: 0px 0px 10px 10px; 
}


.like-button, .dislike-button {
	margin: 50px;
	border-radius: 5px;    
}
.liked {
	color: green;
    font-weight: 500;
}

.disliked {
    color : red;
    font-weight: 500;
}



.modal__overlay{
    background:  #17181a;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index:5000;
    opacity: 0.95;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.4);
}

.modal__body{
    background: #FFD7D7;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px 10px 10px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    flex-direction: column;
}

.modal__title{ 
    background: linear-gradient(to right, #FD2D01
    , #FFD7D7);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;   
}

.modal__style{
    background: linear-gradient(to left, #282c34
    ,  #4E5166);
    width: 100%;
    height: 3px;
}

.modal__warning {
    padding: 5%;
    font-weight: 600;
    text-align: center;
}

.modal__body div { display: flex;}

.modal__cancel { 
    background-color: rgb(172, 212, 172);
    min-width: 100px;
    height: 30px;
    border: #FFD7D7;
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 15px;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition-duration: 0.4s;

}
.modal__cancel:hover { 
    background-color: rgb(199, 221, 199);
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.4);
    
}

.modal__delete { 
    background-color:#FD2D01;
    min-width: 100px;
    height: 30px;
    border: #FFD7D7;
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition-duration: 0.4s;
}
.modal__delete:hover {
    background-color:#ff522f;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.4);

} 