.notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
    margin-top: 10vh;
    text-align: center;

}

.notfound h2 {
    font-size: 30px;
}

