.mainprofil__container {    
    background:  #FFD7D7;
    width: 80%;
    max-width: 450px;
    height: auto;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.4);
    margin-top: 10vh;    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.profil__container--titre {

    background: linear-gradient(to right, #282c34
    ,  #4E5166);
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.profil__style {
    background: linear-gradient(to right, #FD2D01
    , #FFD7D7);
    width: 100%;
    height: 5px;
}

.profil_base {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profil__info {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-top:10px;
}  

.profil__info--avatar {
    height: 150px;
    width: 150px;
    left: 0px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.profil__info--line {
    background: linear-gradient(to right, #FD2D01
    , #FFD7D7);
    width: 80%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profil__info div {
    display: flex;
    flex-direction: row;
    color: black;
    
    font-weight: 500;
} 

.profil__info p {
    color: #FD2D01;
    margin-right: 10px;
    font-weight: 600;
}

.profil__button {
    display: flex;
    flex-direction: row;
}

.profil__button--delete {
    background-color:#FD2D01;
    min-width: 100px;
    height: 30px;
    border: #FFD7D7;
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 15px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition-duration: 0.4s;
}

.profil__button--delete:hover{
    background-color:#ff522f;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.4);
}

.profil__button--edit {
    background-color:rgb(172, 212, 172);
    min-width: 100px;
    height: 30px;
    border: #FFD7D7;
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 15px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition-duration: 0.4s;
}

.profil__button--edit:hover {
    background-color: rgb(199, 221, 199);
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.4);
}


.mainprofilmodal__form {
    display: flex;
    padding: 10px;
    margin:10px;    
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap
}

.mainprofilmodal__form>input {
    margin-left: 30%;
    margin-top: 10px;
    width: 50%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainprofilmodal__form>label {       
       margin-top: 10px;
}

.profilmodal__button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
}     

.profil__preview {
    position: relative;
    margin-top: 10px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
  
.profil__preview--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    border-radius: 50%;
  }
  
.profil__preview:hover .profil__preview--overlay {
    display: block;
    background: rgba(0, 0, 0, .8);
  }
  
.profil__preview img {
    
    width: 100%;
    left: 0;
    max-height: 250px;
    object-fit: cover;
    width: 100%; 
    border-radius: 50%;
  }
  
.profil__preview p {
    position: absolute;
    width: 100%;
    left: 0;
    top: 120px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
  }
  
.profil__preview:hover p {
    top: 10px;
  }
  
.button__profilcontainer--btn {
    width: 50%;
    padding: 5px;
    margin: 5px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    color: white;
    border: solid 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;    
}
 
.button__profilcontainer--btn:hover  {
    font-weight: bold;
    border: dashed 2px white; 
}

.profil__preview input[type="file"] {
    display: none;
} 

.profil__preview .button__container {      
    position: absolute;
    width: 100%; 
    top: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}
.profil__preview:hover .button__container
{
    top:110px;
}
  
.profil__preview:hover .button__profilcontainer--btn {
    opacity: 1;
}
    
